.idea/
.vscode/
*.log
.local-*.err
*.xlsx
HELP.md

Megacontexto.txt
RequerimientosIniciales.txt

target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

src/main/ui/node_modules/
src/main/ui/dist/
src/main/ui/.vite/

.env
.env.local

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
